<!DOCTYPE html>

<html lang="en">

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

</head>
<body>
<p>12??3</p>
</body>
</html>
<script type="text/javascript">
var url = "http://172.17.120.139/OpenForm/OpenForm.ashx?logon=98381&planname="+"?????_TEST2";
	alert(url);
// window.open(url,'_self');
	
</script>

 

